{% extends 'base_accounts.html' %}

{% block title %}  {% endblock %}
{% block content %}   
    <!-- order obj -->
    <!--#####################-->
    <table dir='rtl' class="table table-striped ">
        <thead class="bg-secondary text-white">
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col"> شماره سفارش </th>
            <th scope="col" class="text-center">مبلغ سفارش</th>
            <th scope="col" class="text-center">تاریخ ثبت سفارش</th>
            <th scope="col" class="text-center">تاریخ پرداخت</th>
            <th scope="col" class="text-center">وضعیت پرداخت</th>
            <th scope="col" class="text-center"> جزئیات</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <!-- item has info of sessions not model -->
                <td>{{ order.id }}</td>
                <td class="text-center">{{ order.total_price|floatformat:"-3g"  }} تومان</td>
                <td class="text-center">{{ order.created }}</td>
                <td class="text-center text-success ">
                    {% if order.paid %}
                        {{ order.updated }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if order.paid %}
                        <a type="button" class="btn btn-success w-100 d-inline-block">پرداخت شده است</a>
                    {% else %}
                        <a type="button" class="btn btn-warning w-100 d-inline-block">عدم پرداخت</a>
                    {% endif %}
                </td>
                <td class="text-center" ><a href="{% url 'orders:order_detail' order.id %} " type="button" class="btn btn-info w-100 d-inline-block">جزئیات</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %} 