{% extends 'base.html' %}

{% block title %} سبد خرید {% endblock %}
{% block content %}   
    <table dir='rtl' class="table table-striped ">
        <thead class="bg-secondary text-white">
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">نام کالا</th>
            <th scope="col" class="text-center">قیمت واحد</th>
            <th scope="col" class="text-center">تعداد</th>
            <th scope="col" class="text-center">قیمت کل</th>
            <th scope="col">حذف کالا</th>
            
            
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <!-- item has info of sessions not model -->
                <td>{{ item.product.name }}
                    {% if item.product.specialـprice %}
                        <span dir='rtl' class="text-danger">- فروش ویژه</span>
                    {% endif %}
                </td>
                <td class="text-center">{{ item.price|floatformat:"-3g"  }} تومان</td>
                <td class="text-center">{{ item.number }}</td>
                <td class="text-center">{{ item.total_price|floatformat:"-3g"  }} تومان</td>
                <td class="text-center"><a href="{% url 'cart:cart_remove' item.product.id %}" type="button" class="btn btn-danger">حذف</a></td> 
            </tr>
        {% empty %} 
            <th colspan=6>سبد خرید خالی است</th>
        {% endfor %}
        {% if cart.get_total_price %}
            <tr class='table-success'>
                <th>+</th>
                <th> مبلغ نهایی قابل پرداخت</th>
                <td colspan=1></td>
                <th class="text-center">{{ cart.get_total_price|floatformat:"-3g"  }} تومان</th>
                <td colspan=2><a href="{% url 'orders:order_create' %}" type="button" class="btn btn-success w-100 d-inline-block">ثبت نهایی </a></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}