{% extends 'base.html' %}
{% load thumbnail %}

{% block title %} فروش های ویژه {% endblock %}
{% block content %}   
    <!-- Section-->
    {% for product in products %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                {% if product.specialـprice %}
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">فروش ویژه</div>
                {% endif %}
                    <!-- Product image-->
                {% thumbnail product.image "300x300" as img %}
                <a href='{{ product.get_absolute_url }}'><img class="card-img-top" src="{{ img.url }}" alt="{{ img.name }}" /></a>
                {% endthumbnail %}
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ product.name }}</h5>
                        <!-- Product price-->
                        {% if product.specialـprice %}
                            <span class="text-muted text-decoration-line-through">{{ product.price }}</span>
                            {{ product.specialـprice }}
                        {% else %}
                            {{ product.price }}
                        {% endif %}
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">مشاهده جزئیات</a></div>
                </div>
            </div>
        </div>
    {% empty %}
        <h5 dir='rtl' class="fw-bolder">موردی یافت نشد</h5>
    {% endfor %}
{% endblock %}